
<div class="row sidebar__bigname">
    <a asp-controller="Victim" asp-action="Login" target="_blank"><i class="fas fa-hospital"></i> Healthy And Balance</a>
</div>
<div class="row sidebar__menu">
    <a class="blck" asp-controller="Admin" asp-action="Doctors"><i class="fas fa-user-md"></i> Nhân viên</a>
    <a class="blck" asp-controller="Admin" asp-action="Index"><i class="fas fa-pills"></i> Thuốc </a>
    <a class="blck" asp-controller="Admin" asp-action="Index"><i class="fas fa-user"></i> Bệnh nhân</a>
    <a class="blck" asp-controller="Admin" asp-action="Index"><i class="fas fa-stethoscope"></i> Phòng/Khoa</a>
    <a class="blck" asp-controller="Admin" asp-action="Index"><i class="far fa-calendar-check"></i> Ca trực</a>
    <a asp-controller="Admin" asp-action="Index">Đăng xuất</a>
</div>
