@model website.ViewModels.PercriptionViewModel


        <p>
            Tên thuốc: <input id="searchten" type="text" name="SearchString">
            <input id="test" onclick="search(document.getElementById('searchten').value)" type="button" value="Tìm kiếm" />
        </p>
        <table class="table" id="tablemedic">
            <thead>
                <tr>
                    <th>
                        Mã thuốc
                    </th>
                    <th>
                        Tên thuốc
                    </th>
                    <th>
                        Hành Động
                    </th>
                </tr>
            </thead>
            <tbody id="tb">
                @foreach (var item in Model.medicine)
                {

                <tr id="@item.Id">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td><input type="button" onclick="add(@item.Id)" size="1" style="width: 5em" value="Thêm" /></td>
                </tr>

                }
            </tbody>
        </table>

<script>
    function add(id) {
        $.ajax({
            url: "/Doctor/addmedic",
            type: "POST",
            dataType: 'json',
            data: {
                id: id
            },
            success: function (data) {                
                var g = w2ui['grid'].records.length;
                var check = true;
                for (var i = 1; i <= g; i++) {
                    if (w2ui['grid'].get(i).id === data.value.id) {
                        check = false;
                    }
                }
                if (check === true) {
                    w2ui['grid'].add({ recid: g + 1, id: data.value.id, name: data.value.name, sang: 0, trua: 0, toi: 0, ngay: 0 });
                }
                else {
                    alert("Thuốc đã được thêm!");
                }
            }
        })
        
    }
</script>

