@model website.ViewModels.VictimCompleteViewModel
@{
    ViewData["Title"] = "Đăng ký khám bệnh thành công";
    Layout = "~/Views/Victim/_VictimLayout.cshtml";
}

<div class="container-fluid relative complete">
    <div class="container">
        <h2>Đăng ký khám bệnh thành công.</h2>
        <h2>Số thứ tự: @Model.WaitNumber</h2>
        <h2>Khoa khám: @Model.FacultyName</h2>
        <h2>Phòng khám: @Model.RoomShortCode</h2>
        <h2>Bác sĩ: @Model.DoctorName</h2>
        
        <a asp-controller="Victim" asp-action="Login">Người tiếp theo</a>
    </div>
</div>
