
@{
    ViewData["Title"] = "Đăng ký khám chữa bệnh";
    Layout = "~/Views/Victim/_VictimLayout.cshtml";
}

<div class="container-fluid relative registration">
    <div class="container">
        <h2>Đăng ký khám chữa bệnh theo khoa</h2>
        <h3>Xin chào chị Phúc, mời chị chọn khoa đăng ký khám chữa bệnh</h3>
        <div class="row">
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Mắt</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Tai,mũi,họng</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Bệnh nhiệt đới</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Da liễu</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Tim mạch</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Thần kinh</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Nội tiêu hóa</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Hô hấp</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Cơ xương khớp</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Ngoại tổng quát</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Răng,hàm,mặt</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Xét nghiệm</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Chấn thương chỉnh hình</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Y học cổ truyền</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Cấp cứu tổng hợp</a>
            </div>
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Doctor" class="faculties">Siêu âm,nội soi</a>
            </div>
        </div>
    </div>
</div>
