@model IEnumerable<website.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}
<head>

</head>
<h1 class=" title">Chuẩn Đoán và Kê Toa Thuốc</h1>
<br />
<link href="~/css/Doctor/doctor.css" rel="stylesheet" />
<div class="row">

    <div class="col-6">
        <form method="post" class="form1">
            <table>
                <tr>
                    <td width="150">
                        <label>STT: </label>
                    </td>
                    <td width="300">
                        <input type="text" name="stt" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Mã thẻ BH: </label>
                    </td>
                    <td width="300">
                        <input type="text" name="mathe" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Tên BN: </label>
                    </td>
                    <td width="300">
                        <input type="text" name="tenbn" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Tên BS: </label>
                    </td>
                    <td width="300">
                        <input size="37" type="text" name="tenbs" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Chuẩn đoán </label>
                    </td>
                    <td width="300">
                        <textarea cols="40" rows="5"></textarea>
                    </td>
                </tr>

            </table>
            <table border="1">
                <tr id="thuoctinh">
                    <td>STT</td>
                    <td>Tên thuốc</td>
                    <td>Đơn vị tính</td>
                    
                </tr>            
            </table>
        </form>
    </div>
    <div class="col-6">
        <form method="post" class="form2">
            <p>
                Tên thuốc: <input type="text" name="SearchString">
                <input type="submit" value="Tìm kiếm" />
            </p>
        </form>
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Sáng
                        </th>
                        <th>
                            Trưa
                        </th>
                        <th>
                            Chiều
                        </th>
                        <th>
                            Tối
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <input size="1" />
                            </td>
                            <td>
                                <input size="1" />
                            </td>
                            <td>
                                <input size="1" />
                            </td>
                            <td>
                                <input size="1" />
                            </td>
                            <td>
                                <input type="submit" value="Thêm"/>
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>
