@model IEnumerable<website.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}
<head>

</head>
<h1 class=" title">Chuẩn Đoán và Kê Toa Thuốc</h1>
<br />
<link href="~/css/Doctor/doctor.css" rel="stylesheet" />
<div class="row">

    <div class="col-6">
        @*<p style="font-size: 15px; font-family: VnArial">
            Số thứ tự: <input id="stt1" type="number" name="stt" value="0" class="input 1" />
            <input onclick="Getpa(document.getElementById('stt1').value)" type="submit" value="Người tiếp theo" />
        </p>*@
        <form>
            <table>
                <tr>
                    <td width="150">
                        <label>STT: </label>
                    </td>
                    <td width="300">
                        <input id="stt1" type="number" name="stt" value="0" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Mã bệnh nhân: </label>
                    </td>
                    <td width="300">
                        <input id="in-mabn" type="text" name="mabn" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Tên bệnh nhân: </label>
                    </td>
                    <td width="300">
                        <input id="in-tenbn" type="text" name="tenbn" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Tên đơn thuốc: </label>
                    </td>
                    <td width="300">
                        <input type="text" id="in-tendt" class="input 1" />
                    </td>
                </tr>
                <tr>
                    <td width="150">
                        <label>Chuẩn đoán </label>
                    </td>
                    <td width="300">
                        <textarea cols="40" rows="5" id="in-cd"></textarea>
                    </td>

                </tr>
            </table>
            <input onclick="Getpa(document.getElementById('stt1').value)" type="button" value="Người tiếp theo" />
        </form>
        <br />
        <div id="grid" style="width: 100%; height: 350px;"></div>
        <br />
        <button class="w2ui-btn" onclick="deletesl()">Delete Selected</button>
    </div>
    <div class="col-6" id="medic">
        <p>
            Tên thuốc: <input id="searchten" type="text" name="SearchString">
            <input id="test" onclick="search(document.getElementById('searchten').value)" type="button" value="Tìm kiếm" />
        </p>
        <table class="table table-condensed" id="tablemedic" >
            <thead>
                <tr>
                    <th>
                        Mã thuốc
                    </th>
                    <th>
                        Tên thuốc
                    </th>
                    <th>
                        Sáng
                    </th>
                    <th>
                        Trưa
                    </th>
                    <th>
                        Tối
                    </th>
                    <th>
                        Ngày
                    </th>
                    <th>
                        Hành Động
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        
    </div>
</div>

@section Scripts{
<script>
    $(function () {
        $('#grid').w2grid({ 
            name: 'grid', 
            show: {
            selectColumn: true
            },
            columns: [          
                { field: 'recid', caption: 'STT', size: '10%',sortable: true },
                { field: 'id', caption: 'Mã thuốc', size: '10%' },
                { field: 'name', caption: 'Tên thuốc', size: '30%' },
                { field: 'sang', caption: 'Sáng', size: '10%', resizable: true, render: 'int', editable: { type: 'int' } },
                { field: 'trua', caption: 'Trưa', size: '10%', resizable: true, render: 'int' , editable: { type: 'int' } },
                { field: 'toi', caption: 'Tôi', size: '10%',  resizable: true, render: 'int' , editable: { type: 'int' } },
                { field: 'ngay', caption: 'Ngày', size: '10%',  resizable: true, render: 'int' , editable: { type: 'int' } },
            ],
        });    
    });
    function search(searchh) {
        $.ajax({
            url: "/Doctor/search",
            type: "POST",
            dataType: 'html',
            data: {
                searchstring: searchh
            },
            success: function (data) {
                console.log(data);
                $('#medic').html(data);
            }
        });
    }
</script>
<script>
    function Getpa(stt) {
            @using Microsoft.AspNetCore.Http;
            @using website.Helper;
            @{ 
            var dr = Context.Session.Get<Doctor>("doctor");
            }  
            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date+' '+time;
            var g = w2ui['grid'].records.length;
            var record = [];
            w2ui.grid.save();
            record = w2ui['grid'].records;
            console.log(record);
            debugger;
                $.ajax({
            url: "/Doctor/SavePerscription",
            type: "POST",
            data: {
                per: {
                    perscription: {
                        Name: $('#in-tendt').val(),
                        Description: $('#in-cd').val(),
                        Doctor_Id:@dr.Id,
                        Patient_Id: $('#in-mabn').val(),
                        Faculty_Id: @dr.Faculty_Id,
                        //DateCreate: dateTime,
                        //DateModify: dateTime,
                    },
                    perscriptionmedicinedetails: record,
                }
                    },
                    success: function (data) {
            }
        });
              var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://localhost:44314/Doctor/waitingline",
              "method": "POST",
              "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
                "postman-token": "5055f814-436b-7ac4-c494-a44d26147f37"
              },
                  "processData": false,
                  "data": stt
            }

        $.ajax(settings).done(function (response) {
                var x = parseInt(stt) + 1;
                $('#stt1').val(x);
                $('#in-mabn').val(response.id);
            $('#in-tenbn').val(response.nameLast + " " + response.nameMiddle + " " + response.nameFirst);
            $('#in-cd').val("");
            $('#in-tendt').val("");
            w2ui.grid.clear();
            w2ui.grid.refresh();
            }
            );
    }
    function deletesl() {
        var x = w2ui.grid.getSelection();
        for (var i = 0; i < x.length; i++) {
            w2ui.grid.delete(x[i]);
        }
    }
</script>
}
